.product-card {
  cursor: pointer;
  height: 100px;
  justify-content: space-between;
}

.product-card img {
  max-height: 100px;
  width: 100px;
  object-fit: cover;
}

.btn-buy-product {
  height: 50px;
  width: 50px;
  align-self: center;
  margin-right: 12px;
}