.pic {
    width: 100%;
    height: 100%;
}

.table thead {
    background-color: #121212;
}

.table thead th {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    font-size: 14px;
    color: white;
}
.container .table-wrap {

    margin: 20px auto;
    overflow-x: auto
}

.container .table-wrap::-webkit-scrollbar {
    height: 5px;
}

.container .table-wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(to right, #5D7ECD, #0C91E6);
}

.table>:not(caption)>*>* {
    padding: 2rem 0.5rem;
}

.input {
    width: 30px;
    height: 30px;
    color: black;
    font-weight: 400;
    outline: none;
    padding: 8px;
}

::placeholder {
    color: black;
    font-weight: 600;
}

.table tbody td {
    padding-left: 10px;
    /* padding: 30px; */
    margin: 0;
}

.table tbody td .fa-times {
    color: #D32F2F;
}


.text-muted {
    font-size: 12.5px;
}

.table tbody tr td:nth-of-type(3) {
    min-width: 320px;
}
.btn.btn-success .fa-solid.fa-plus{
    margin-right: 8px;
}
#deleteContainer{
  max-width: 600px !important;
}

.empresaImagem{
    max-width: 256px;
    max-height: 256px;
    width: 100%;
    height: 100%;
}
.produtoCRUDFoto{
    width: 100px;
    height: 100px;
}
.img-container img {
    max-width: 100%;
  }
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
white-space: nowrap;
border: 0;
}

#avatar, .pic, #prodCadPlaceholder{
    width: 100%;
    height: 100%;
    cursor:pointer;
}
@media(min-width: 992px) {
    .container .table-wrap {
        overflow: hidden;
    }
    
   #deleteContainer{
      /* margin-top: 36px !important; */
    }
}