/* PRODUTOS */
.product-card {
    cursor: pointer;
    height: 100px;
    justify-content: space-between;
}

.product-text-container {
    margin-right: auto;
}

.product-img-container {
    height: 98px;
    min-width: 98px;
    width: 98px !important;

}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counterGroup {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}

.input-group-append{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}

@media (max-width: 420px) {
      .input-group-append{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
      }


    .product-card{
      height: auto;
      flex-wrap: wrap;
    }
    .product-text-container {
      margin-bottom: 0 !important;
    }
    .cartContainer{
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      margin-bottom: 5px;
      padding-top: 5px;
      border-top: 1px solid #d2d2d2;
    }
    .counterGroup{
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      margin-bottom: 5px;
      padding-top: 5px;
      border-top: 1px solid #d2d2d2;
      /* margin: auto; */
    }
    #productCounter{
        width: auto;
    }
  }