.custom-shape-divider-bottom-1689380352 {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    /* width: 100%;
    overflow: hidden; */

}

.custom-shape-divider-bottom-1689380352 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1689380352 .shape-fill {
    fill: #fff;
}

.custom-shape-divider-bottom-1689037162 {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    bottom: 0;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689037162 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 118px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1689037162 .shape-fill {
    fill: #FFFFFF;
}

.accordion-button{
    background: var(--blackDominant) !important;
    color: var(--whiteCool) !important;
    box-shadow: none !important;
}

.accordion-item{
    border: 1px solid var(--blackSecondary) !important;
    background-color: var(--blackSecondary) !important;
    color: rgb(147, 158, 168) !important;
}

.accordion-button::after {
    filter: invert(1);
}
.darkMode .lead.text-secondary{

    color: rgb(147, 158, 168) !important;

}


/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/
  
  .stats-item {
    padding: 30px;
    width: 100%;
  }
  
  .stats-item span {
    font-size: 48px;
    display: block;
    color: #121212;
    font-weight: 700;
  }
  
  .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 700;
    color: #121212;
  }
  
  @media (max-width: 992px) {
    .image-about-us{
        display: none;
    }
  }