@import url('https://fonts.cdnfonts.com/css/avenir');

:root {
  --blackDominant: #121212;
  --blackSecondary: #181818;
  --white: #fEFFFE;
  --whiteCool: #EEEFF9;
  --grey: #DDDFF1;
  --grey2: #CED0E4;
  --grey3: #6B6E8D;
  --black: #474B6D;

  /* CORES DARKMODE */
  --text_Dark: #fbf9f9;
  --background_Dark: #121212;
  --primary_Dark: #b6c9c9;
  --secondary_Dark: #0f1216;
  --accent_Dark: #db1d1d;

  /* CORES LIGHTMODE */
  --text_Light: #121212;
  --background_Light: #fbf9f9;
  --primary_Light: #b6c9c9;
  --secondary_Light: #d8dee5;
  --accent_Light: #540b0b;

  --sizeTitle: 32px;
  --sizeBody: 18px;
  --sizeSmall: 14px;
}

/* -------------------------------------------------------------- */
body {
  line-height: 1.4em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Avenir', sans-serif !important;
}

a {
  color: inherit !important;
  /* blue colors for links too */
  text-decoration: inherit !important;
  /* no underline */
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
  --webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.section-text-container .h1 {
  text-wrap: balance;
}

.pointer {
  cursor: pointer;
}


.dropdown-menu.show {
  color: var(--white);
  background-color: var(--blackSecondary);
}

.dropdown-menu.show .dropdown-item:hover {
  color: var(--blackDominant) !important;
}

.darkMode {
  color: var(--white) !important;
  background-color: var(--blackDominant) !important;
}

/* -------------------------------------------------------------- */

nav.navbar {
  background-color: #121212 !important;
}

nav.navbar .container-fluid {
  padding: 0;
}

nav a.nav-link,
nav a.navbar-brand,
nav navbar-toggler-icon {
  color: #fff !important;
}

nav a.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link.dropdown-toggle::after {
  border: 0;
  margin-left: 0;
}

#loginNavButton {
  margin-right: 16px !important;
}

#HERO {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 0;
}

#HERO div.row.flex-lg-row-reverse.align-items-center.g-5.py-5 {
  height: 40vh;
}


.hoverable {
  transform: scale(100%);
  transition: 0.2s ease-in-out;
}

.hoverable:hover{
  transform: scale(102%);
  transition: 0.2s ease-in-out;
}

/* SECTION */
/* ---------------------------------------- */
section.average-section,
nav.navbar {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}

section.average-section {
  background-color: var(--white);
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

#hero {
  padding-bottom: 0;
  padding-top: 0;
  background-color: #121212 !important;
  color: #fff;
}

/* CARD DO RESTAURANTE */
/* ---------------------------------------- */

.loja-foto {
  height: 256px;
  width: 100%;
  object-fit: cover;
}

.loja-details {
  margin-top: auto;

}

.restaurant-wrapper {
  display: flex;
  justify-content: center;
}

.text-section {
  max-width: 60%;
}

.cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cta-section .btn {
  padding: 0.3em 0.5em;
  /* color: #696969; */
}

.card.bg-light-subtle .cta-section .btn {
  background-color: #898989;
  border-color: #898989;
}

/* CARDS */

.card {
  transition: all ease-out 0.2s;
}

.card:hover {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.card a.btn-outline-dark:hover {
  color: #fff !important;
}

a.btn.btn-outline-light.px-4:hover {
  color: #121212 !important;
}

/* CARD DEV */
/* ---------------------------------------- */

.developer-card {
  width: 18rem !important;
  border-radius: 8px;
  padding: 1em 0.6em;
  background: (--white);
  border: 1px solid rgba(89, 94, 95, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
}

.developer-card #developer-status {
  color: #5cbf55;
  display: block;
  border-radius: 2px;
}

.developer-card h4 {
  margin: 1em 0;
  color: #131313;
}

.developer-card p {
  color: #4e4e4e;
  font-size: 0.77em;
}

.developer-card .developer-links a {
  text-decoration: none;
  color: grey;
  margin: 0 0.4em;
  transition: 0.3s ease-out;
}

.developer-card .developer-links a:hover {
  color: #6096ba;
  opacity: 0.9;
}

.developer-card ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

.developer-card ul li {
  display: inline;
  font-size: 0.7em;
  margin: 0 0.4em;
  opacity: 0.76;
}

.developer-card ul li span {
  opacity: 0.5;
}

.developer-profile-img {
  background-size: cover;
  background-position: center;
  max-width: 100px;
  max-height: 100px;
  border-radius: 5%;
}

[data-hover] {
  position: relative;
  cursor: pointer;
}

[data-hover]:after {
  box-sizing: border-box;
  position: absolute;
  color: white;
  max-width: 110px;
  min-width: 80px;
  padding: 8px 10px;
  font-size: var(--sizeSmall);
  font-family: 'avenir';
  font-weight: 100;
  content: attr(data-hover);
  transition: 0.3s ease-out;
  opacity: 0;
  text-align: center;
  border-radius: 2px;
  z-index: 9999;
  pointer-events: none;
}

[data-hover]:hover:after {
  opacity: 1;
}

/* 
   Color styles for tooltips 
   CHANGE HOWEVER YOU WANT
*/
[data-hover].tt-default:after {
  background: #242626;
}

[data-hover].tt-info:after {
  background: #242626;
}

/* Style for tooltop that will slide to bottom */
[data-hover].hover-tt-bottom:after {
  top: 50%;
  right: 50%;
  transform: translate(50%, 0%);
}

[data-hover].hover-tt-bottom:hover:after {
  top: calc(100% + 10px);
}

.footerSection .nav-item,
.footerSection p {
  color: white;
}

.footerSection {
  background-color: #121212;
  color: white;
  margin-top: auto;
  padding-left: 150px;
  padding-right: 150px;
}

#search-input:focus {
  box-shadow: none !important;

}

#noEmpresasFound {
  max-width: 600px;
}

@media (max-width: 992px) {

  nav a.nav-link:hover:after,
  nav a.nav-link:after {
    display: none;
  }

  #loginBUTTON {
    margin-bottom: 8px;
  }

  section.average-section,
  nav.navbar,
  .footerSection {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  #HERO > div > div.col-10.col-sm-8.col-lg-6.imgHero{
    display: none;
  }
  #HERO{
    max-width: none !important;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Mobile */
@media (max-width: 420px) {

  div.section-text-container.mb-5.aos-init.aos-animate > p {
    font-size: 16px;
  }

  section.average-section,
  nav.navbar,
  .footerSection {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  section.average-section{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footerSection .footer{
    justify-content: center !important;
  }
  #HERO{
    padding: 0 !important;
  }
}